## Problem 1 - Reading in a tricky data file (*5 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` with the Pandas function `read_csv()`
    - Be sure the numerical values for rainfall and temperature are read in as numbers
    - The second row of the datafile should be skipped, but the text labels for the columns should be from the first row
    - The no-data values (assigned with value **`-9999`**) should properly be converted to `NaN`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*1.5 points*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values into `NaN` (values `-9999`)

In [3]:
import pandas as pd

In [4]:
fp = 'data/1091402.txt'



data = pd.read_csv(fp, sep='\s+', skiprows=[1], na_values=-9999 )
data

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/var/folders/j3/1_g39gs501q6lwzqcx234sfm0000gn/T/ipykernel_94590/111407803.py:5: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv(fp, sep='\s+', skiprows=[1], na_values=-9999 )

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0
...,...,...,...,...,...,...,...,...,...
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

In [5]:
data.dtypes

STATION       object
ELEVATION      int64
LATITUDE     float64
LONGITUDE    float64
DATE           int64
PRCP         float64
TAVG         float64
TMAX         float64
TMIN         float64
dtype: object

In [6]:
# This test print should print the head and the column names
print(data.head(1))
print(data.columns)

             STATION  ELEVATION  LATITUDE  LONGITUDE      DATE  PRCP  TAVG  \
0  GHCND:FIE00142080         51   60.3269    24.9603  19520101  0.31  37.0

   TMAX  TMIN
0  39.0  34.0
Index(['STATION', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE', 'PRCP', 'TAVG',
       'TMAX', 'TMIN'],
      dtype='object')

In [7]:
# This test print should print the first row of data
print(data.loc[0].values)

['GHCND:FIE00142080' 51 60.3269 24.9603 19520101 0.31 37.0 39.0 34.0]

In [8]:
# This test print should print the last row of data in column 'TMIN'
print(data.tail(1)[['TMIN']].values[0][0])

nan

### Part 2 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [10]:
tavg_nodata_count = data['TAVG'].isna().sum()
print(tavg_nodata_count)

3308

In [11]:
# This test print should print a number
print(tavg_nodata_count)

3308

### Part 3 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [13]:
tmin_nodata_count = data['TMIN'].isna().sum()

In [14]:
# This test print should print a number
print(tmin_nodata_count)

365

In [15]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

### Part 4 (*0.5 points*)

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [17]:
day_count = data['DATE'].nunique()

In [18]:
# This test print should print a number
print(day_count)

23716

### Part 5 (*0.5 points*)

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [20]:
first_obs = data['DATE'].min()

In [21]:
# This test print should print a number
print(first_obs)

19520101

### Part 6 (*0.5 points*)

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [23]:
last_obs = data['DATE'].max()

In [24]:
# This test print should print a number
print(last_obs)

20171004

### Part 7 (*0.5 points*)

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [26]:
avg_temp = data['TAVG'].mean()

In [27]:
# This test print should print a number
print(avg_temp)

41.32408859270874

### Part 8 (*0.5 points*)

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [29]:
avg_temp_1969 = data['TMAX'].loc[((data['DATE'] >= 19690501) & (data['DATE'] <= 19690831))].mean()

In [30]:
# This test print should print a number
print(avg_temp_1969)

67.82113821138212

## Problem 2 - Calculating monthly average temperatures (*7.5 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily values we have in the data file. You can use the approaches taught in Lessons 4, 5, and 6 to solve this.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures for the each month in the dataset (i.e., for each month of each year) using the approach introduced in lesson this week
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
- Creating a new column called `temp_celsius` in the `monthly_data` DataFrame that contains the monthly average temperatures in Celsius
   - First store information about the date in a column called `DATE_m` (which should be a character string column containing the month and year info) along with the `TAVG` values in the `monthly_data` DataFrame
   - After this, you can convert the `TAVG` values in Fahrenheit to Celsius
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [32]:
def fahr_to_cels(temp_f):
    temp_c = (temp_f - 32) * (5/9)
    return temp_c

In [33]:
data['TIME_STR'] = data['DATE'].astype(str) 

data['MONTH'] = data['TIME_STR'].str.slice(start=4, stop=6).astype(int)
data['YEAR'] = data['TIME_STR'].str.slice(start=0, stop=4).astype(int)
data['YEAR_MONTH'] = data['TIME_STR'].str.slice(start=0, stop=6).astype(int)
data ['TEMP_C'] = data['TAVG'].apply(fahr_to_cels).round(2)
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,TIME_STR,MONTH,YEAR,YEAR_MONTH,TEMP_C
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,19520101,1,1952,195201,2.78
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,19520102,1,1952,195201,1.67
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,19520103,1,1952,195201,0.56
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,19520104,1,1952,195201,-1.67
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,19520105,1,1952,195201,-2.78

In [34]:
monthly_data = data.groupby(by='MONTH')[['TEMP_C', 'TAVG']].mean()

monthly_data = monthly_data.reset_index()
#monthly_data['TEMP_C'].mean()

In [35]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

12

In [36]:
# This test print should print the column names of monthly_data
print(monthly_data.columns)

Index(['MONTH', 'TEMP_C', 'TAVG'], dtype='object')

In [37]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

KeyError: 'temp_celsius'

In [ ]:
# This test print should print the median of temp_celsius
print(monthly_data['temp_celsius'].median())

## Problem 3 - Calculating temperature anomalies (*7.5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating a mean temperature ***for each month*** over the period from 1952 up to and including 1980 using the data in the data file
    - You should end up with 12 values, 1 mean temperature for each month in that period, and store them in a new Pandas DataFrame called `reference_temps`
    - The columns in the new DataFrame should be titled `Month` and `ref_temp`
    
    For example, your `reference_temps` data should be something like that below, 1 value for each month of the year (12 total) and remember these temperatures should be in degrees Celsius:
   
| Month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

- Calculating a temperature anomaly for every month in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months
    - The temperature anomaly we want to calculate is simply the temperature for a given month in `monthly_data` (`temp_celsius` column) minus the corresponding monthly reference temperature in the `ref_temp` column of the `reference_temps` DataFrame
        - Hint: You need to make a table join (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html))
    - You should thus end up with three new columns in the `monthly_data` DataFrame: 
        1. `Diff`: The temperature anomaly, the difference in temperature for a given month (e.g., February 1960) compared to the average during the reference period (e.g., for February 1952-1980), 
        2. `Month`: The month
        3. `ref_temp`: The monthly reference temperature
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [39]:
data.dtypes

STATION        object
ELEVATION       int64
LATITUDE      float64
LONGITUDE     float64
DATE            int64
PRCP          float64
TAVG          float64
TMAX          float64
TMIN          float64
TIME_STR       object
MONTH           int64
YEAR            int64
YEAR_MONTH      int64
TEMP_C        float64
dtype: object

In [41]:
data = data[['STATION', 'DATE', 'TAVG', 'TEMP_C', 'MONTH', 'YEAR']]

grouped = data.loc[data['DATE'] <= 19801231].groupby('MONTH')[['TEMP_C', 'TAVG']].mean()
reference_temps = grouped.reset_index()


monthly_data = data.groupby(by='MONTH')[['TEMP_C', 'TAVG']].mean()

monthly_data = monthly_data.reset_index()

In [43]:
monthly_data

    MONTH     TEMP_C       TAVG
0       1  -5.355947  22.359122
1       2  -5.889867  21.398230
2       3  -2.409156  27.663412
3       4   3.509413  38.316999
4       5  10.202844  50.365252
5       6  14.684716  58.432836
6       7  17.283264  63.110155
7       8  15.600565  60.081097
8       9  10.595976  51.072781
9      10   5.436610  41.786047
10     11   0.679275  33.222826
11     12  -3.203829  26.233004

In [45]:
reference_temps

    MONTH     TEMP_C       TAVG
0       1  -5.877240  21.420784
1       2  -6.990484  19.417132
2       3  -3.841378  25.085714
3       4   2.427982  36.370175
4       5   9.522529  49.140704
5       6  14.711646  58.481416
6       7  16.498641  61.697987
7       8  15.021921  59.039735
8       9   9.910879  49.839655
9      10   4.947067  40.905000
10     11   0.323345  32.582322
11     12  -4.168000  24.497521

In [53]:
merged = pd.merge(reference_temps, monthly_data, on='MONTH')
merged

    MONTH   TEMP_C_x     TAVG_x   TEMP_C_y     TAVG_y
0       1  -5.877240  21.420784  -5.355947  22.359122
1       2  -6.990484  19.417132  -5.889867  21.398230
2       3  -3.841378  25.085714  -2.409156  27.663412
3       4   2.427982  36.370175   3.509413  38.316999
4       5   9.522529  49.140704  10.202844  50.365252
5       6  14.711646  58.481416  14.684716  58.432836
6       7  16.498641  61.697987  17.283264  63.110155
7       8  15.021921  59.039735  15.600565  60.081097
8       9   9.910879  49.839655  10.595976  51.072781
9      10   4.947067  40.905000   5.436610  41.786047
10     11   0.323345  32.582322   0.679275  33.222826
11     12  -4.168000  24.497521  -3.203829  26.233004

In [61]:
merged.rename(columns={'TEMP_C_x' : 'REF_TEMPS', 'TEMP_C_y' : 'TEMP_C'}, inplace=True)
merged.drop(columns=['TAVG_x', 'TAVG_y'], inplace=True)

KeyError: "['TAVG_x', 'TAVG_y'] not found in axis"

In [63]:
merged

    MONTH  REF_TEMPS     TEMP_C
0       1  -5.877240  -5.355947
1       2  -6.990484  -5.889867
2       3  -3.841378  -2.409156
3       4   2.427982   3.509413
4       5   9.522529  10.202844
5       6  14.711646  14.684716
6       7  16.498641  17.283264
7       8  15.021921  15.600565
8       9   9.910879  10.595976
9      10   4.947067   5.436610
10     11   0.323345   0.679275
11     12  -4.168000  -3.203829

In [65]:
merged.drop(columns=['TEMP_C'], inplace=True)

In [67]:
merged

    MONTH  REF_TEMPS
0       1  -5.877240
1       2  -6.990484
2       3  -3.841378
3       4   2.427982
4       5   9.522529
5       6  14.711646
6       7  16.498641
7       8  15.021921
8       9   9.910879
9      10   4.947067
10     11   0.323345
11     12  -4.168000

In [69]:
data

                 STATION      DATE  TAVG  TEMP_C  MONTH  YEAR
0      GHCND:FIE00142080  19520101  37.0    2.78      1  1952
1      GHCND:FIE00142080  19520102  35.0    1.67      1  1952
2      GHCND:FIE00142080  19520103  33.0    0.56      1  1952
3      GHCND:FIE00142080  19520104  29.0   -1.67      1  1952
4      GHCND:FIE00142080  19520105  27.0   -2.78      1  1952
...                  ...       ...   ...     ...    ...   ...
23711  GHCND:FIE00142080  20170930  47.0    8.33      9  2017
23712  GHCND:FIE00142080  20171001  47.0    8.33     10  2017
23713  GHCND:FIE00142080  20171002  47.0    8.33     10  2017
23714  GHCND:FIE00142080  20171003  47.0    8.33     10  2017
23715  GHCND:FIE00142080  20171004  52.0   11.11     10  2017

[23716 rows x 6 columns]

In [90]:
monthly_temps = data.groupby(['MONTH', 'YEAR'])['TEMP_C'].mean()
monthly_temps.reset_index()

     MONTH  YEAR    TEMP_C
0        1  1952 -1.400000
1        1  1953 -5.397500
2        1  1954 -7.072308
3        1  1955 -5.473333
4        1  1956 -8.133200
..     ...   ...       ...
785     12  2012 -6.631290
786     12  2013  1.363226
787     12  2014 -1.146452
788     12  2015  2.203871
789     12  2016 -0.787419

[790 rows x 3 columns]

In [96]:
monthly_ref_merged = pd.merge(merged, monthly_temps, on='MONTH') 
monthly_ref_merged

     MONTH  REF_TEMPS    TEMP_C
0        1   -5.87724 -1.400000
1        1   -5.87724 -5.397500
2        1   -5.87724 -7.072308
3        1   -5.87724 -5.473333
4        1   -5.87724 -8.133200
..     ...        ...       ...
785     12   -4.16800 -6.631290
786     12   -4.16800  1.363226
787     12   -4.16800 -1.146452
788     12   -4.16800  2.203871
789     12   -4.16800 -0.787419

[790 rows x 3 columns]

In [98]:
monthly_ref_merged['DIFF'] = monthly_ref_merged['TEMP_C'] - monthly_ref_merged['REF_TEMPS']

In [104]:
monthly_ref_merged

     MONTH  REF_TEMPS    TEMP_C      DIFF
0        1   -5.87724 -1.400000  4.477240
1        1   -5.87724 -5.397500  0.479740
2        1   -5.87724 -7.072308 -1.195067
3        1   -5.87724 -5.473333  0.403907
4        1   -5.87724 -8.133200 -2.255960
..     ...        ...       ...       ...
785     12   -4.16800 -6.631290 -2.463290
786     12   -4.16800  1.363226  5.531226
787     12   -4.16800 -1.146452  3.021548
788     12   -4.16800  2.203871  6.371871
789     12   -4.16800 -0.787419  3.380581

[790 rows x 4 columns]

In [ ]:
# Let's confirm that we have the data
print(monthly_data.head())

In [ ]:
# This test print should print the length of the result
print(len(monthly_data))

In [ ]:
# This test print should print the mean difference value
print(monthly_data['Diff'].mean())

In [ ]:
# This test print should print the minimum difference value
print(monthly_data['Diff'].min())

In [ ]:
# This test print should print the maximum difference value
print(monthly_data['Diff'].max())

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)